<div class="container">
    <table class="table table-striped table-light table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Banco</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of clients">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.documentId}}</td>
                <td>{{p.bankId}}</td>
                <td>{{p.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>